@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'LINE Seed KR';
    src: url('../fonts/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'LINE Seed KR';
    src: url('../fonts/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'LINE Seed KR';
    src: url('../fonts/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  html,
  body {
    font-family: 'LINE Seed KR', sans-serif;
  }
}
